{% extends "netbox_docker_plugin/container-layout.html" %}

{% load plugins %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">LOGS</h5>
      <div class="card-body">
        <pre
          id="container-logs"
          class="p-2 text-white border-dark"
          style="height: 300px; overflow-y: auto; background-color: black;"
          hx-get="/api/plugins/docker/containers/{{ object.pk }}/logs/"
          hx-trigger="load, every 5s"
        >
        </pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block head %}
<script type="application/javascript">
htmx.onLoad(function(elt) {
  document.querySelector("#container-logs").addEventListener("htmx:afterSwap", function() {
    this.scrollTop = this.scrollHeight
  })
})
</script>
{% endblock %}
