{% extends "netbox_docker_plugin/container-layout.html" %}

{% load plugins %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">CONTAINER</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Host</th>
            <td><a href="{{ object.host.get_absolute_url }}">{{ object.host }}</a></td>
          </tr>
          <tr>
            <th scope="row">Image</th>
            <td><a href="{{ object.image.get_absolute_url }}">{{ object.image }}</a></td>
          </tr>
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">ContainerID</th>
            <td>{{ object.ContainerID|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Hostname</th>
            <td>{{ object.hostname|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">State</th>
            <td>{{ object.get_state_display }}</td>
          </tr>
          <tr>
            <th scope="row">Restart Policy</th>
            <td>{{ object.get_restart_policy_display }}</td>
          </tr>
          <tr>
            <th scope="row">Host Capacities added</th>
            <td>{{ object.cap_add }}</td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{{ object.status|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Operation</th>
            <td>{{ object.get_operation_display }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">LABELS</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:label_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_env %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:label_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Label
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<h2>Runtime</h2>
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">ENVIRONMENT VARIABLES</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:env_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_env %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:env_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add an Env Variable
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<h2>Networking</h2>
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">PORT MAPPINGS</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:port_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_env %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:port_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Port Mapping
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">NETWORK SETTINGS</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:networksetting_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_network_setting %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:networksetting_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> New Network Setting
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<h2>Storage</h2>
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">MOUNTS</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:mount_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_env %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:mount_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> New Mount
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">BINDS</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:bind_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_env %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:bind_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> New Bind
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<h2>Host capabilities</h2>
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">DEVICES</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:device_list' %}?container_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_device %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:device_add' %}?container={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> New Device
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
