{% extends 'generic/object.html' %}

{% load plugins %}

{% block extra_controls %}
<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='start' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="start">
  <button
    type="submit"
    class="btn btn-success"
    {% if not object.can_start %}
    disabled
    {% endif %}
  >
    <i class="mdi mdi-play"></i> Start
  </button>
</form>

<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='stop' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="stop">
  <button
    type="submit"
    class="btn btn-danger"
    {% if not object.can_stop %}
    disabled
    {% endif %}
  >
    <i class="mdi mdi-stop"></i> Stop
  </button>
</form>

{% if object.state == 'paused' %}
<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='unpause' %}" method="post">
    {% csrf_token %}
  <input type="hidden" name="operation" value="unpause">
  <button type="submit" class="btn btn-danger">
      <i class="mdi mdi-play"></i>Unpause</button>
</form>

{% elif object.state == 'running' %}
<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='pause' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="pause">
  <button type="submit" class="btn btn-success">
      <i class="mdi mdi-stop"></i> Pause
  </button>
</form>
{% endif %}

<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='restart' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="restart">
  <button
    type="submit"
    class="btn btn-light"
    {% if not object.can_restart %}
    disabled
    {% endif %}
  >
    <i class="mdi mdi-restart"></i> Restart
  </button>
</form>

<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='kill' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="kill">
  <button
    type="submit"
    class="btn btn-dark"
    {% if not object.can_kill %}
    disabled
    {% endif %}
  >
    <i class="mdi mdi-skull"></i> Kill
  </button>
</form>

<form action="{% url 'plugins:netbox_docker_plugin:container_operation' pk=object.id operation='recreate' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="recreate">
  <button
    type="submit"
    class="btn btn-primary"
    {% if not object.can_recreate %}
    disabled
    {% endif %}
  >
    <i class="mdi mdi-autorenew"></i> Recreate
  </button>
</form>
{% endblock %}
