{% extends 'generic/object.html' %}

{% load plugins %}
{% load host %}

{% block extra_controls %}
<form action="{% url 'plugins:netbox_docker_plugin:host_operation' pk=object.id operation='refresh' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="refresh">
  <button type="submit" class="btn btn-warning">
    <i class="mdi mdi-cog-refresh"></i> Refresh
  </button>
</form>
{% endblock extra_controls %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">Host</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">Name</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">Endpoint</th>
          <td>{{ object.endpoint|remove_password }}</td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td>{{ object.get_state_display }}</td>
        </tr>
        <tr>
          <th scope="row">Agent Version</th>
          <td>{{ object.agent_version|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Docker API Version</th>
          <td>{{ object.docker_api_version|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Operation</th>
          <td>{{ object.get_operation_display }}</td>
        </tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/related_objects.html' with filter_name='host_id' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <h2 class="card-header">
        Registry
        {% if perms.netbox_docker_plugin.add_container %}
          <div class="card-actions">
            <a href="{% url 'plugins:netbox_docker_plugin:registry_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}"
              class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Registry
            </a>
          </div>
        {% endif %}
      </h2>
      {% htmx_table 'plugins:netbox_docker_plugin:registry_list' host_id=object.pk %}
    </div>
    {% plugin_full_width_page object %}
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h2 class="card-header">
        Container
        {% if perms.netbox_docker_plugin.add_container %}
          <div class="card-actions">
            <a href="{% url 'plugins:netbox_docker_plugin:container_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}"
              class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Container
            </a>
          </div>
        {% endif %}
      </h2>
      {% htmx_table 'plugins:netbox_docker_plugin:container_list' host_id=object.pk %}
    </div>
    {% plugin_full_width_page object %}
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h2 class="card-header">
        Images
        {% if perms.netbox_docker_plugin.add_image %}
          <div class="card-actions">
            <a href="{% url 'plugins:netbox_docker_plugin:image_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}"
              class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add an Image
            </a>
          </div>
        {% endif %}
      </h2>
      {% htmx_table 'plugins:netbox_docker_plugin:image_list' host_id=object.pk %}
    </div>
    {% plugin_full_width_page object %}
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h2 class="card-header">
        Volumes
        {% if perms.netbox_docker_plugin.add_volume %}
          <div class="card-actions">
            <a href="{% url 'plugins:netbox_docker_plugin:volume_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}"
              class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Volume
            </a>
          </div>
        {% endif %}
      </h2>
      {% htmx_table 'plugins:netbox_docker_plugin:volume_list' host_id=object.pk %}
    </div>
    {% plugin_full_width_page object %}
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h2 class="card-header">
        Networks
        {% if perms.netbox_docker_plugin.add_network %}
          <div class="card-actions">
            <a href="{% url 'plugins:netbox_docker_plugin:network_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}"
              class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Network
            </a>
          </div>
        {% endif %}
      </h2>
      {% htmx_table 'plugins:netbox_docker_plugin:network_list' host_id=object.pk %}
    </div>
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock content %}
