{% extends 'generic/object.html' %}

{% load plugins %}
{% load host %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">REGISTRY</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Host</th>
            <td><a href="{{ object.host.get_absolute_url }}">{{ object.host }}</a></td>
          </tr>
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Server Address</th>
            <td>{{ object.serveraddress }}</td>
          </tr>
          <tr>
            <th scope="row">username</th>
            <td>{{ object.username|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">email</th>
            <td>{{ object.email|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/related_objects.html' with filter_name='registry_id' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Images</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker_plugin:image_list' %}?registry_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker_plugin.add_image %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker_plugin:image_add' %}?registry={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add an Image
          </a>
        </div>
      {% endif %}
    </div>
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock content %}
