{% extends 'generic/object.html' %}

{% load plugins %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">HOST</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Endpoint</th>
            <td>{{ object.endpoint }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/related_objects.html' with filter_name='host_id' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Images</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker:image_list' %}?host_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker.add_location %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker:image_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary btn-sm">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add an Image
          </a>
        </div>
      {% endif %}
    </div>
    {% plugin_full_width_page object %}
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Volumes</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker:volume_list' %}?host_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker.add_location %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker:volume_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary btn-sm">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Volume
          </a>
        </div>
      {% endif %}
    </div>
    {% plugin_full_width_page object %}
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Networks</h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'plugins:netbox_docker:network_list' %}?host_id={{ object.pk }}"
        hx-trigger="load"
      ></div>
      {% if perms.netbox_docker.add_location %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'plugins:netbox_docker:network_add' %}?host={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary btn-sm">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a Network
          </a>
        </div>
      {% endif %}
    </div>
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock content %}
